/* ===============================================
# カラー変数設定
=============================================== */
$main-color: #CB0000;
$section-bg-color: #F5F5F5;
$text-color: #000;
$c-base: #F5F5F5;
$c-accent: #E8E8E8;
$font-color: #fff;


/* ===============================================
# フォント変数設定
=============================================== */

$font-sans: "Yu Gothic Medium", "Yu Gothic", "YuGothic",
    "Noto Sans JP",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Meiryo", system-ui, sans-serif;
$font-weight: 500;
$base-font-size: 1.8rem;