@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

.p-blog-list__content {
    padding-block: 6.7rem 21rem;


    @include sp {
        align-items: center;
        padding-block: 5rem 20.3rem;

    }
}

.p-blog-list {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 3rem;

    @include sp {
        gap: 3.9rem;
        margin-top: 3.7rem;
    }
}


.p-blog-list__img {
     width: 26.1rem;
    aspect-ratio: 261 / 184;
    overflow: hidden;
    flex-shrink: 0;

    @include sp {
        width: 100%;
        aspect-ratio: 335 / 200;
    }
}

.p-blog-list__img img {
    height: 100%;
    object-fit: cover;
}

.p-blog-list .c-blog-card__body {
    gap: 0.5rem;
  }

.p-blog-list .c-blog-card__date {
    @include sp {
        margin-top: 1.2rem;
    }
}