// @use "../../global" as *;
@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../../foundation/base" as *;

.p-header {
	text-align: center;
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	height: 8rem;

	@include sp {
		height: 5rem;
		background-color: $font-color;
	}
}

.p-header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	position: relative;
}

.p-header__logo,
.p-header__site-title {
	height: 100%;
}

.logo {
	display: flex;
	align-items: center;
	height: 100%;
	transition: opacity 0.4s, color 0.4s;

	&:hover {
		opacity: 0.7;
	}
}

.logo__img img {
	display: block;
	width: 3.2rem;
	height: auto;

	@include sp {
		width: 2.1rem;
		height: 3.2rem;
	}
}

.p-header__logo-text {
	display: flex;
	flex-direction: column;
	margin-left: 0.9rem;

	@include sp {
		flex-direction: row;
		align-items: center;
		margin-left: 0.5rem;
	}
}

.logo__main {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.15;
	text-align: left;

	@include sp {
		font-size: 1.3rem;
		white-space: nowrap;
	}
}

.logo__sub {
	font-size: 1.5rem;
	margin-top: 0.4rem;
	font-weight: 700;
	line-height: 1.533;

	@include sp {
		font-size: 1.3rem;
		margin-top: 0;
	}
}

.p-header__nav {
	height: 100%;

	@include sp {
		position: fixed;
		top: 5rem;
		right: -100%;
		width: 80%;
		max-width: 30rem;
		height: auto;
		background-color: $main-color;
		transition: right 0.6s ease;
		z-index: 1000;
	}

	&.is-open {
		@include sp {
			right: 0;
		}
	}
}

.p-header__nav-list {
	display: flex;
	column-gap: 3.3rem;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;

	@include tab {
		column-gap: 2.1rem;
	}

	@include sp {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		height: auto;
		row-gap: 0;
	}
}

.p-header__nav-list li {
	height: 100%;
	display: flex;
	align-items: center;

	@include sp {
		width: 100%;
		height: auto;
	}
}

.p-header__nav-list li a {
	height: 100%;
	display: flex;
	align-items: center;

	@include sp {
		width: 100%;
		height: 5.8rem;
		padding: 1.5rem 2rem;
	}
}

.p-header__nav-list li a:not(.c-button) {
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 1.7rem;
	line-height: 1.833;
	font-weight: 700;
	text-decoration: none;
	position: relative;

	@include tab {
		font-size: 1.6rem;
	}

	@include sp {
		height: 5.8rem;
		font-size: 1.8rem;
		line-height: 1.5;
		background-color: $main-color;
		color: $font-color;


		&:hover {
			background-color: $text-color;
			color: $font-color;
		}
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 2.5rem;
		left: 0;
		width: 100%;
		height: 0.2rem;
		background-color: $text-color;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 0.4s ease-out;

		@include sp {
			display: none;
		}
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: center;
		background-color: $text-color;
	}
}

.p-header__nav-item--contact {
	display: flex;
	align-items: center;
	height: 100%;
  
	@include sp {
	  display: none;
	//   width: auto;
	//   padding: 0;
	}

	.c-button--head {
		max-width: 15rem;
		height: 4.5rem;
		padding: 0.7rem 3rem 0.5rem 3rem;
		font-size: 1.5rem;

		@include sp {
		
			display: none;
		}
	}
}