@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

.p-search__header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.p-search__header l-inner {
    padding-right: 626.01rem;
}

.p-search__title {
    font-size: 1.8rem;
    line-height: 1.666;
}

.p-search__content {
    padding-block: 6.6rem 21rem;
    font-size: 1.8rem;

    @include sp {
        padding-block: 3.6rem 20.3rem;
    }
}

.p-search .c-blog-card__img {
    width: 26rem;
    height: 18.4rem;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    @include sp {
         width: 100%;     
         height: auto;
        aspect-ratio: 335 / 200;
    }
}


.p-search {
    .c-blog-card {
        margin-top: 4.2rem;

        &+.c-blog-card {
            margin-top: 7rem;

            @include sp {
                margin-top: 4rem;
            }
        }
    }
}

.p-search__keyword {
    font-weight: 700;
}

.p-search {
    .c-blog-card__text--pc {
        display: block;

        @include sp {
            display: none;
        }
    }

    .c-blog-card__text--sp {
        display: none;

        @include sp {
            display: block;
        }
    }
}

.p-search .c-blog-card__text {

    padding-top: 1rem;
}