@use "../../global/variable" as *;
@use "../../global/mixin" as *;
@use "../../global/function" as *;
@use "../component/c-hero";
// @use "../../foundation/base" as *;

.p-search__header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.p-search__title {
    font-size: 1.8rem;
    line-height: 1.666;
}

.p-search__content {
    padding-block: 6.6rem 21rem;
    font-size: 1.8rem;

    @include sp {
        padding-block: 3.6rem 20.3rem;
    }
}

.p-search .c-blog-card__img {
    width: 26rem;
    aspect-ratio: 260 / 184;
  
    @include sp {
         width: 100%;     
        aspect-ratio: 335 / 200;
    }
}

.p-search .c-blog-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.p-search {
    .c-blog-card {
        margin-top: 4.2rem;

        &+.c-blog-card {
            margin-top: 7rem;

            @include sp {
                 margin-top: 4.2rem;
            }
        }
    }
}

.p-search__keyword {
    font-weight: 700;
}

.p-search .c-blog-card__date {

    @include sp {
        margin-top: 1rem;
    }
  }
