@use "../../global/variable" as *;
@use "../../global/function" as *;
@use "../../global/mixin" as *;


/* ===============================================
# ヒーロー共通コンポーネント
=============================================== */

.c-hero {
  position: relative;
  overflow: hidden;

  @include sp {
    height: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: rgba(80, 80, 80, 0.4863);
    mix-blend-mode: multiply;
    z-index: 1;
  }

  picture {
    display: block;
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;

    @include sp {
      height: 100%;
    }
  }
}

.c-hero__text {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translateX(-53%);
  text-align: center;
  font-size: 2.5rem;
  color: $font-color;
  z-index: 2;
  font-weight: 700;

  @include sp {
    font-size: 2.5rem;
    top: 44%;
  }
}

// --- ページメッセージコンポーネント（再利用） ---
.c-page-message {
  text-align: center;
  font-size: 1.8rem;
  white-space: normal;

  @include sp {
    font-size: 1.6rem;
    text-align: left;
    margin-top: 0rem;
  }
}

